Flask==1.1.2
gunicorn==20.0.4
dash==1.18.1
flask-compress==1.8.0
plotly==4.14.1
dash_renderer==1.8.3
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-table==4.11.1
dash_bootstrap_components==0.11.1
numpy==1.19.3
pandas==1.1.5
dash_daq==0.5.0

